
@{
    ViewBag.Title = "FinalizarReserva";
    Layout = "~/Views/Shared/_LHome.cshtml";

    var a = ViewBag.Dia;
}

@model  TrabajoPracticoWeb3.App_Data.Carteleras

<h2>FinalizarReserva</h2>

@*@ViewBag.Horario
@ViewBag.Dia

@Model.Peliculas.Nombre
@Model.Peliculas.Descripcion
@Model.Peliculas.Generos.Nombre
@Model.Peliculas.Calificaciones.Nombre
@Model.Sedes.PrecioGeneral*@



@using (Html.BeginForm("ConfirmarReserva", "Peliculas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-group">
        @Html.Label("Pelicula")
        @Html.Hidden("IdPelicula",Model.IdPelicula)
        <input type="text" name="Pelicula" value="@Model.Peliculas.Nombre" class="form-control" readonly="readonly" />

    </div>

    <div class="form-group">
        @Html.Label("Version")
        @Html.Hidden("IdVersion", Model.IdVersion)
        <input type="text" name="Version" value="@Model.Versiones.Nombre" class="form-control" readonly="readonly" />

    </div>

    <div class="form-group">
        @Html.Label("Sede")
        @Html.Hidden("IdSede", Model.IdSede)
        <input type="text" name="Sede" value="@Model.Sedes.Nombre" class="form-control" readonly="readonly" />

    </div>

    <div class="form-group">
        @Html.Label("Dia")
        <input type="text" name="Dia" value="@ViewBag.Dia" class="form-control" readonly="readonly" />

    </div>

    <div class="form-group">
        @Html.Label("Horario")
        <input type="text" name="Horario" value="@ViewBag.Horario" class="form-control" readonly="readonly" />
    </div>

    <div class="form-group">
        @Html.Label("Descripcion")
        <input type="text" name="Descripcion" value="@Model.Peliculas.Descripcion" class="form-control" readonly="readonly" />
    </div>

    <div class="form-group">
        @Html.Label("Genero")
        <input type="text" name="Genero" value="@Model.Peliculas.Generos.Nombre" class="form-control" readonly="readonly" />
    </div>

    <div class="form-group">
        @Html.Label("Clasificacion")
        <input type="text" name="Clasificacion" value="@Model.Peliculas.Calificaciones.Nombre" class="form-control" readonly="readonly" />
    </div>

    <div class="form-group">
        @Html.Label("Precio")
        <input type="text" name="Precio" value="@Model.Sedes.PrecioGeneral" class="form-control" readonly="readonly" />
    </div>

    <div class="form-group">
        @Html.Label("Email")
        <input type="text" name="Email" class="form-control"  />
    </div>

    <div class="form-group">
        @Html.Label("Tipo De Documento")
        <input type="text" name="TipoDocumento" class="form-control" />
    </div>

    <div class="form-group">
        @Html.Label("Numero De Documento")
        <input type="text" name="NumeroDocumento" class="form-control" />
    </div>

    <div class="form-group">
        @Html.Label("Cantidad De Entradas")
        <input type="text" name="CantidadEntradas" class="form-control" />
    </div>

    <button type="submit" class="btn btn-default">Enviar</button>
}