
@{
    ViewBag.Title = "Reserva";
    Layout = "~/Views/Shared/_LHome.cshtml";
}

@model IEnumerable<TrabajoPracticoWeb3.App_Data.Peliculas>

@foreach(var pelicula in Model) { 
<h2>@pelicula.Nombre</h2>

<div class="row row-con-margin">
    <div class="col-md-4">
        <div>
            <img class="img-responsive" src='@Url.Action("GetImage", "Home", new { image = pelicula.Imagen.ToString() } )'>
        </div>
    </div>
    <div class="col-md-4">
        <h4>Sinopsis</h4>
        <p>@pelicula.Descripcion</p>

    </div>
    <div class="col-md-4">

        @using (Html.BeginForm())
            {
            @Html.Label("Version", new { @class = "margin-dp" })
            @Html.DropDownList("Version", ViewData["version"] as List<SelectListItem>, "Por Favor, seleccione una Version", new { @class = "margin-dp form-control" })

            @Html.Label("Sede", new { @class = "margin-dp" })
            @Html.DropDownList("Sede", new SelectList(string.Empty, "Value", "Text"), "Por Favor, seleccione una sede", new { @class = "margin-dp form-control" })

            @Html.Label("Dia", new { @class = "margin-dp" })
            @Html.DropDownList("Dia", new SelectList(string.Empty, "Value", "Text"), "Por favor, Seleccione un dia", new { @class = "margin-dp form-control" })

            @Html.Label("Horario", new { @class = "margin-dp" })
            @Html.DropDownList("Horario", new SelectList(string.Empty, "Value", "Text"), "Por favor, Seleccione un horario", new { @class = "margin-dp form-control" })

            <button type="submit" class="margin-dp btn btn-success">Continuar</button>

        }

    </div>
    


</div>
}


