
@{
    ViewBag.Title = "AltaPelicula";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    @model TrabajoPracticoWeb3.App_Data.Peliculas

}

<h2>AltaPelicula</h2>


@using (Html.BeginForm("AltaPelicula", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Nombre)
        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Nombre)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Descripcion)
        @Html.TextBoxFor(x => x.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Descripcion)
    </div>
    <div class="form-group">
        <label for="sel1">Generos:</label>
        <select class="form-control" name="Generos" id="sel1">
            @foreach (var gen in ViewBag.Generos)
            {
                <option value="@gen.IdGenero">@gen.Nombre</option>
            }

        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Inserte una imagen</label>
        <input type="file" id="exampleInputFile" name="file">
        <p class="help-block">Imagen JPF o PNG.</p>
    </div>
    <div class="form-group">
        <label for="sel2">Calificaciones:</label>
        <select class="form-control" name="Calificaciones" id="sel2">
            @foreach (var cal in ViewBag.Calificaciones)
            {
                <option value="@cal.IdCalificacion">@cal.Nombre</option>
            }

        </select>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Duracion)
        @Html.TextBoxFor(x => x.Duracion, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Duracion)
    </div>


    <button type="submit" class="btn btn-default">Submit</button>
}
  