
@{
    ViewBag.Title = "AltaCartelera";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    @model TrabajoPracticoWeb3.App_Data.Carteleras
}

<h2>Alta Cartelera</h2>
<h3 class="label label-danger">@ViewBag.Mensaje</h3>

@using (Html.BeginForm("AltaCartelera", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div class="form-group">
        @Html.LabelFor(x => x.IdSede)
        @Html.DropDownListFor(x => x.IdSede, new SelectList(ViewBag.Sedes, "IdSede", "Nombre"), new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.IdSede)</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.IdPelicula)
        @Html.DropDownListFor(x => x.IdPelicula, new SelectList(ViewBag.Peli, "IdPelicula", "Nombre"), new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.IdPelicula)</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.HoraInicio)
        <span class="label label-info">@Html.Label("Formato hora: 1600 (Representa 16:00hs)")</span>
        @Html.TextBoxFor(x => x.HoraInicio, new { @class = "form-control", @maxlength = "4" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.HoraInicio)</span>
    </div>
    <div class="form-group">
        <label for="Descripcion">Días:</label>
        <br />
        @Html.LabelFor(x => x.Lunes)
        @Html.CheckBoxFor(x => x.Lunes)
        @Html.LabelFor(x => x.Martes)
        @Html.CheckBoxFor(x => x.Martes)
        @Html.LabelFor(x => x.Miercoles)
        @Html.CheckBoxFor(x => x.Miercoles)
        @Html.LabelFor(x => x.Jueves)
        @Html.CheckBoxFor(x => x.Jueves)
        @Html.LabelFor(x => x.Viernes)
        @Html.CheckBoxFor(x => x.Viernes)
        @Html.LabelFor(x => x.Sabado)
        @Html.CheckBoxFor(x => x.Sabado)
        @Html.LabelFor(x => x.Domingo)
        @Html.CheckBoxFor(x => x.Domingo)
        <br />
        <span class="text-danger">@Html.ValidationMessageFor(x => x.Lunes)</span>

    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.FechaInicio)
        @Html.TextBoxFor(x => x.FechaInicio, new { @class = "form-control", @maxlength = "10" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.FechaInicio)</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.FechaFin)
        @Html.TextBoxFor(x => x.FechaFin, new { @class = "form-control", @maxlength = "10" })
        <span class="text-danger"> @Html.ValidationMessageFor(x => x.FechaFin)</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.NumeroSala)
        @Html.TextBoxFor(x => x.NumeroSala, new { @class = "form-control", @maxlength = "4" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.NumeroSala)</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.IdVersion)
        @Html.DropDownListFor(x => x.IdVersion, new SelectList(ViewBag.Version, "IdVersion", "Nombre"), new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.IdVersion)</span>
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>

}

