
@{
    ViewBag.Title = "AltaPelicula";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    @model TrabajoPracticoWeb3.App_Data.Peliculas

}

<h2>Alta Pelicula</h2>


@using (Html.BeginForm("AltaPelicula", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.Nombre)
        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @maxlength = "50" })
        @Html.ValidationMessageFor(x => x.Nombre)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Descripcion)
        @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", @maxlength = "750" })
        @Html.ValidationMessageFor(x => x.Descripcion)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.IdGenero)
        @Html.DropDownListFor(x => x.IdGenero, new SelectList(ViewBag.Generos,"IdGenero","Nombre"))
        @Html.ValidationMessageFor(x => x.IdGenero)
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Inserte una imagen</label>
        <input type="file" id="exampleInputFile" name="file">
        <p class="help-block">Imagen JPF o PNG.</p>
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.IdCalificacion)
        @Html.DropDownListFor(x => x.IdCalificacion, new SelectList(ViewBag.Calificaciones, "IdCalificacion", "Nombre"))
        @Html.ValidationMessageFor(x => x.IdCalificacion)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Duracion)
        @Html.TextBoxFor(x => x.Duracion, new { @class = "form-control", @maxlength = "4" })
        @Html.ValidationMessageFor(x => x.Duracion)
    </div>


    <button type="submit" class="btn btn-default">Enviar</button>
}
  