
@{
    ViewBag.Title = "AltaCartelera";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    @model TrabajoPracticoWeb3.App_Data.Carteleras
}

<h2>Alta Cartelera</h2>
<h3 class="label label-danger">@ViewBag.Mensaje</h3>

@using (Html.BeginForm("AltaCartelera", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <br />
    <div class="form-group">
        @Html.Label("Sede")
        @Html.DropDownListFor(x => x.IdSede, new SelectList(ViewBag.Sedes, "IdSede", "Nombre"), new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.IdSede)</span>
    </div>
    <div class="form-group">
        @Html.Label("Película")
        @Html.DropDownListFor(x => x.IdPelicula, new SelectList(ViewBag.Peli, "IdPelicula", "Nombre"), new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.IdPelicula)</span>
    </div>
    <div class="form-group">
        @Html.Label("Hora Inicio")
        @Html.TextBoxFor(x => x.HoraInicio, new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.HoraInicio)</span>
    </div>
    <div class="form-group">
        <label for="Descripcion">Días:</label>
        <br />
        @*<input type="checkbox" class="form-control" name="chk_group[]" value="1" />Lunes<br />
            <input type="checkbox" class="form-control" name="chk_group[]" value="2" />Martes<br />
            <input type="checkbox" class="form-control" name="chk_group[]" value="3" />Miercoles<br />
            <input type="checkbox" class="form-control" name="chk_group[]" value="4" />Jueves<br />
            <input type="checkbox" class="form-control" name="chk_group[]" value="5" />Viernes<br />
            <input type="checkbox" class="form-control" name="chk_group[]" value="6" />Sabado<br />
            <input type="checkbox" class="form-control" name="chk_group[]" value="7" />Domingo<br />*@
        @Html.LabelFor(x => x.Lunes)
        @Html.CheckBoxFor(x => x.Lunes)
        @Html.LabelFor(x => x.Martes)
        @Html.CheckBoxFor(x => x.Martes)
        @Html.LabelFor(x => x.Miercoles)
        @Html.CheckBoxFor(x => x.Miercoles)
        @Html.LabelFor(x => x.Jueves)
        @Html.CheckBoxFor(x => x.Jueves)
        @Html.LabelFor(x => x.Viernes)
        @Html.CheckBoxFor(x => x.Viernes)
        @Html.LabelFor(x => x.Sabado)
        @Html.CheckBoxFor(x => x.Sabado)
        @Html.LabelFor(x => x.Domingo)
        @Html.CheckBoxFor(x => x.Domingo)
        <span class="text-danger">@Html.ValidationMessageFor(x => x.Lunes)</span>

    </div>
    <div class="form-group">
        @Html.Label("Fecha Inicio")
        @Html.TextBoxFor(x => x.FechaInicio, new { @class = "form-control", type = "date" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.FechaInicio)</span>
    </div>
    <div class="form-group">
        @Html.Label("Fecha Fin")
        @Html.TextBoxFor(x => x.FechaFin, new { @class = "form-control", type = "date" })
        <span class="text-danger"> @Html.ValidationMessageFor(x => x.FechaFin)</span>
    </div>
    <div class="form-group">
        @Html.Label("Número de Sala")
        @Html.TextBoxFor(x => x.NumeroSala, new { type = "number", @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.NumeroSala)</span>
    </div>
    <div class="form-group">
        @Html.Label("Versión")
        @Html.DropDownListFor(x => x.IdVersion, new SelectList(ViewBag.Version, "IdVersion", "Nombre"), new { @class = "form-control" })
        <span class="text-danger">@Html.ValidationMessageFor(x => x.IdVersion)</span>
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>

}

