
@{
    ViewBag.Title = "editarPelicula";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    @model IEnumerable<TrabajoPracticoWeb3.App_Data.Peliculas>
 }

<h2>editarPelicula</h2>

@using (Html.BeginForm("editarPelicula", "Administracion", FormMethod.Post))
{
    foreach (var peli in Model)
    {
        <input type="hidden" value="@peli.IdPelicula" name="id"/>
        <div class="form-group">
            @Html.LabelFor(x => peli.Nombre)
            @Html.TextBoxFor(x => peli.Nombre, new { @class = "form-control", Value = @peli.Nombre })
        </div>
        <div class="form-group">
            @Html.LabelFor(x => peli.Descripcion)
            @Html.TextBoxFor(x => peli.Descripcion, new { @class = "form-control", Value = @peli.Descripcion })
        </div>
        <div class="form-group">
            <label for="sel1">Generos:</label>
            <select class="form-control" name="Generos" id="sel1">
                @foreach (var gen in ViewBag.Generos)
                {
                    if (gen.IdGenero == @peli.IdGenero)
                    {
                        <option selected="selected" value="@gen.IdGenero">@gen.Nombre</option>
                    }
                    <option value="@gen.IdGenero">@gen.Nombre</option>
                }

            </select>
        </div>
        <div class="form-group">
            <label for="exampleInputFile">Inserte una imagen</label>
            <input type="file" id="exampleInputFile" name="file">
            <p class="help-block">@peli.Imagen</p>
            <input type="hidden" value="@peli.Imagen" name="Imagen" />
        </div>
        <div class="form-group">
            <label for="sel2">Calificaciones:</label>
            <select class="form-control" name="Calificaciones" id="sel2">
                @foreach (var cal in ViewBag.Calificaciones)
                {
                    if (cal.IdCalificacion == @peli.IdCalificacion)
                    {
                        <option selected="selected" value="@cal.IdCalificacion">@cal.Nombre</option>
                    }
                    <option value="@cal.IdCalificacion">@cal.Nombre</option>
                }

            </select>
        </div>
        <div class="form-group">
            @Html.LabelFor(x => peli.Duracion)
            @Html.TextBoxFor(x => peli.Duracion, new { @class = "form-control", Value = @peli.Duracion })

        </div>
        <div class="form-group">
            @Html.LabelFor(x => peli.FechaCarga)
            @Html.TextBoxFor(x => peli.FechaCarga, new { @class = "form-control", Value = @peli.FechaCarga })
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    }
}