
@{
    ViewBag.Title = "editarPelicula";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    @model TrabajoPracticoWeb3.App_Data.Peliculas
}

<h2>Editar Pelicula</h2>

@using (Html.BeginForm("editarPelicula", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.IdPelicula)

    <div class="form-group">
        @Html.LabelFor(x => x.Nombre)
        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", @maxlength = "50" })
        @Html.ValidationMessageFor(x => x.Nombre)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Descripcion)
        @Html.TextAreaFor(x => x.Descripcion, new { @class = "form-control", @maxlength = "750" })
        @Html.ValidationMessageFor(x => x.Descripcion)
    </div>
    <div class="form-group">
        <label for="IdGenero">Genero</label>
        @Html.DropDownListFor(x => x.IdGenero, (SelectList)ViewBag.Generos, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.IdGenero)
    </div>
    <div class="form-group">
        <label for="exampleInputFile">Inserte una imagen</label>
        <input type="file" id="exampleInputFile" name="image">
        <p class="help-block">@Model.Imagen</p>
        <input type="hidden" value="@Model.Imagen" />

    </div>
    <div class="form-group">
        <label for="IdGenero">Calificación</label>
        @Html.DropDownListFor(x => x.IdCalificacion, (SelectList)ViewBag.Calificaciones, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.IdCalificacion)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Duracion)
        @Html.TextBoxFor(x => x.Duracion, new { @class = "form-control", @maxlength = "2" })
        @Html.ValidationMessageFor(x => x.Duracion)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.FechaCarga)<br />
        <span class="label label-default">@Model.FechaCarga</span>
    </div>

    <button type="submit" class="btn btn-default">Enviar</button>

}