@{
    ViewBag.Title = "editarSede";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    @model TrabajoPracticoWeb3.App_Data.Sedes
}

<h2>Editar Sede</h2>
@using (Html.BeginForm("EditarSede", "Administracion", FormMethod.Post))
{
    @Html.HiddenFor(model => model.IdSede)
    <div class="form-group">
        @Html.LabelFor(model => model.Nombre)
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.Nombre)
        </span>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Direccion)
        @Html.TextBoxFor(model => model.Direccion, new { @class = "form-control" })
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.Direccion)
        </span>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.PrecioGeneral)
        @Html.TextBoxFor(model => model.PrecioGeneral, new { @class = "form-control" })
        <span class="text-danger">
            @Html.ValidationMessageFor(model => model.PrecioGeneral)
        </span>
    </div>
    <button type="submit" class="btn btn-default">Enviar</button>
}
