
@{
    ViewBag.Title = "ListaReportes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}

@model IEnumerable<TrabajoPracticoWeb3.App_Data.Reservas>
<h2>Lista Reportes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Sede</th>
            <th>Versión</th>
            <th>Nombre Película</th>
            <th>Detalle</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reserva in Model)
        {
            var totalReserva = reserva.CantidadEntradas * reserva.Sedes.PrecioGeneral;
            

            <tr>
                <td>@reserva.Sedes.Nombre</td>
                <td>@reserva.Versiones.Nombre</td>
                <td>@reserva.Peliculas.Nombre</td>
                <td>@reserva.CantidadEntradas * @reserva.Sedes.PrecioGeneral</td>
                <td>$@totalReserva</td>
            </tr>
        }
    </tbody>
</table>
<h3>@ViewBag.PrecioTotal</h3>