

@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    @model TrabajoPracticoWeb3.Models.Reporte
}


<h2>Reportes</h2>

@using (Html.BeginForm("ListaReportes", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        @Html.LabelFor(x => x.FechaInicio)
        @Html.TextBoxFor(x => x.FechaInicio, new { @class = "form-control", type = "date"/*@maxlength = "50"*/})
        @Html.ValidationMessageFor(x => x.FechaInicio)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.FechaFin)
        @Html.TextBoxFor(x => x.FechaFin, new { @class = "form-control", type = "date" /*@maxlength = "50"*/ })
        @Html.ValidationMessageFor(x => x.FechaFin)
    </div>

    @Html.Label("Pelicula", new { @class = "margin-dp" })
    @Html.DropDownList("Pelicula", ViewData["Pelicula"] as List<SelectListItem>, "Por Favor, seleccione una Pelicula", new { @class = "margin-dp form-control" })

    <button type="submit" class="margin-dp btn btn-success">Continuar</button>


}
