
@{
    ViewBag.Title = "Cartelera";
    Layout = "~/Views/Shared/_LHome.cshtml";
}

@model IEnumerable<TrabajoPracticoWeb3.App_Data.Carteleras>


<!-- Portfolio Section -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Cartelera</h2>
    </div>



    @foreach (var cartelera in Model)
    {

        <div class="col-md-4 col-sm-6">
            <a href="@Url.Action("Reserva", "Peliculas", new { idPelicula = cartelera.IdPelicula } )">
                <div class="img-min">
                    <img class="img-responsive img-portfolio img-hover" src='@Url.Action("GetImage", "Home", new { image = cartelera.Peliculas.Imagen.ToString() } )' />
                </div>
            </a>
            <div class="img-portfolio">
                <p class="btn btn-default">@cartelera.Peliculas.Nombre</p>
                <p class="btn btn-default">@cartelera.Peliculas.Generos.Nombre</p>
                <p class="btn btn-default">@cartelera.Peliculas.Calificaciones.Nombre</p>
            </div>
        </div>

    }

</div>
    <!-- /.row -->

