<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Programación web 3</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/HomeCss.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">Cinema Unlam</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="~/Home/Index">Cartelera</a>
                    </li>
                    <li>
                        <a href="~/Home/Proximamente">Proximamente</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">
        @RenderBody()
        

        <!-- Footer -->
        <footer> 
            <hr />
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Unlam2017 - Programación web 3</p>
                </div>
            </div>
        </footer>

    </div>



    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/HomeJS.js"></script>
@* Problema con el ruteo y razor
    <script src="~/Scripts/CascadaReserva.js"></script> *@
    
    
    <!-- Script to Activate the Carousel -->
    <script>

    </script>
</body>
</html>


 <!-- Script Para Select en cascada en reserva pelicula -->
<script type="text/javascript">

    $(document).ready(function () {
        //Dropdownlist Selectedchange event
        $("#Version").change(function () {
            $("#Sede").empty();
            $("#Sede").append('<option value="'
                + 0 + '">'
                + "Por favor,seleccione una sede" + '</option>');
            $("#Dia").empty();
            $("#Dia").append('<option value="'
                + 0 + '">'
                + "Por favor,seleccione un Dia" + '</option>');
            $("#Horario").empty();
            $("#Horario").append('<option value="'
                + 0 + '">'
                + "Por favor,seleccione un Horario" + '</option>');
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetSede")', // we are calling json method

                dataType: 'json',

                data: { idVersion: $("#Version").val(), idPelicula: $("#Pelicula").val() },
               // here we are get value of selected country and passing same value as inputto json method GetStates.


                success: function (states) {
                    // states contains the JSON formatted list
                    // of states passed from the controller

                    $.each(states, function (i, state) {
                    $("#Sede").append('<option value="' + state.Value + '">' +
                         state.Text + '</option>');
                    // here we are adding option for States

                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        })
    });
</script>

<script type="text/javascript">

        $(document).ready(function () {
            //Dropdownlist Selectedchange event
            $("#Sede").change(function () {
                $("#Dia").empty();
                $("#Dia").append('<option value="'
                    + 0 + '">'
                    + "Por favor,seleccione un Dia" + '</option>');
                $("#Horario").empty();
                $("#Horario").append('<option value="'
                    + 0 + '">'
                    + "Por favor,seleccione un Horario" + '</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetDia")',
                    dataType: 'json',
                    data: { idSede: $("#Sede").val(), idVersion: $("#Version").val(), idPelicula: $("#Pelicula").val()},
                    success: function (citys) {
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $.each(citys, function (i, city) {
                            $("#Dia").append('<option value="'
    + city.Value + '">'
    + city.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })
        });
</script>

<script type="text/javascript">

        $(document).ready(function () {
            //Dropdownlist Selectedchange event
            $("#Dia").change(function () {
                $("#Horario").empty();
                $("#Horario").append('<option value="'
                    + 0 + '">'
                    + "Por favor,seleccione un Horario" + '</option>');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetHorario")',
                    dataType: 'json',
                    data: { idDia: $("#Dia").val(), idSede: $("#Sede").val(), idVersion: $("#Version").val(), idPelicula: $("#Pelicula").val()  },
                    success: function (citys) {
                        // states contains the JSON formatted list
                        // of states passed from the controller
                        $.each(citys, function (i, city) {
                            $("#Horario").append('<option value="'
    + city.Value + '">'
    + city.Text + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve states.' + ex);
                    }
                });
                return false;
            })
        });
</script>